aside.sidebar {
  background: var(--color-gradient-blue);
  padding: 2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside.sidebar footer button {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  background: var(--color-btn-primary);
  border-radius: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s;
}

aside.sidebar footer button:hover {
  background: var(--color-hover-btn-primary);
}

@media (min-width: 760px) {
  aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    flex-direction: column;
  }
  .with-sidebar {
    padding-left: 14rem;
  }
}
